.centerSection{
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 90em;
  padding-top: 10px;
  padding-bottom: 10px;

}
.version{
  color: #6aa7e8;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;

}
.Header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.status{
  color:#646f79;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  align-self: flex-end;
}
.boxStatus{
  width: 20px;
  margin:5px;
  height: 20px;
  border-radius: 3px;
  background-color: #ff6b6b;
}
.logs{
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
}
.logs:hover{
  background-color: #f2f2f2;
}
body{
  display: flex;
    min-height: 100vh;
    flex-direction: column;
}